body{
    background-color: rgb(211, 237, 255);
    
}

.cabeçalho-img{
    width: 20%;
}
.cabeçalho{
    background-color: rgb(42, 154, 219);
    color: rgb(5, 5, 5);
    DISPLAY: FLEX;
    justify-content: space-around;
}

.cabeçalho-lista-item{
    display: inline-block;
}